.card {
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,252,42,1) 0%, rgba(157,234,249,1) 100%);
    
}
.card2 {
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(252,42,86,1) 0%, rgba(157,234,249,1) 100%);
    
}
.Fitness-Card {
    max-height: 400px;
    max-width: 500px;
}
.Fitness-Card-Info {
    padding-left: 0px;
    padding-right: 0px;
    
}
.Fitness-Card-Info h1{
    font-size: 25px;
    color: black;
    left: 90px;
    position: relative;
}
.Fitness-Card-Info p{
    font-size: 13px;
    color: black;
    left: 90px;
    position: relative;
}